* {
    box-sizing: border-box;
}
a[href] {
    color: white;
}
:root {
    --background-color:rgb(196, 230, 219);
    --color: green;
    --text-color: black;
}
body{
    background-color: var(--background-color, white);
    color: var(--text-color);
    font-size:15px;
    padding: 2%;
    font-family: "Roboto", sans-serif;
    text-align: left;
}
header {
    background-color: #225989;
    width: 80%;
    font-size: 1rem;
    margin: auto;
    border-style: dashed;
    border-color: greenyellow;
    border-width: 3px;
    border-radius: 8px;
    & h1{
        font-size:large;
    }
}
h1,h2{
    color:hsl(120,50%,50%);
    margin-left: 0.5cm;
    text-decoration: underline;
    font-style: italic;
}
nav {
    background-color: color-mix(in srgb,black 70%, white 10%);
}
main {
    background-color: color(srgb 0.9 0.95 1);
    width: 80%;
    height: 90%;
    font-size: 0.7rem;
    padding-top:1cm;
    padding-bottom: 1cm;
    padding-left:2cm;
    padding-right:2cm;
    border: 2px solid #225989;
    margin: auto;
    max-width: 1500px;
    min-width: 300px;
}
p{
    color: rgba(0,0,0,0.7);
    margin-top: 12pt;
    margin-bottom: 0.01em;
    margin-right: 10cm;
    margin-left: 1cm;
}

.section-title {
    color: green;
}
#Tasks {
    color: blue;
}
#Concerns{
    color: red;
}

h2 + p {
    color:darkblue;
}
h1 ~ h2{
    font-size: medium;
}
nav > ul {
    color: white;
}
nav a {
    font-size: small;
}
h2.section-title {
    font-size: medium;
}
main:has(img) {
    border: 3px solid red;
}
img {
    display: block;
    margin-left: 20px;
    position: relative;
    top: 3px;
}
.hidden {
    display: none;
}
.fixed-tag {
    position: fixed;
    top: 20px;
    left: 30px;
    font-size:large;
}
nav a:hover {
    font-size:large
}
nav a:active {
    color: rgb(61, 61, 61)
}
nav ul {
    display: flex;
    flex-direction: column;
    gap: 0.5cm;
    flex-wrap: wrap;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    align-items:flex-start;
    gap: 5px;
    justify-items: start;
    margin-left: 1cm;
}

@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
    }
    main {
        width: 100%;
        padding: 1cm;
    }
    p {
        margin-right: 0;
    }
    .fixed-tag {
        font-size:small;
    }
}