:root {
    --background-color:rgb(196, 230, 219);
    --color: green;
    --text-color: black;
}
body{
    background-color: var(--background-color, white);
    color: var(--text-color);
    font-size:10px;
    padding: 2%;
}
header {
    background-color: #225989;
    width: 80%;
    font-size: 1rem;
    margin: auto;
    border-style: dashed;
    border-color: greenyellow;
    border-width: 3px;
    border-radius: 8px;
}
h1,h2{
    color:hsl(120,50%,50%);
    margin-left: 0.5cm;
}
nav {
    background-color: color-mix(in srgb, black 50%, white 50%);
}
main {
    background-color: color(srgb 0.9 0.95 1);
    width: 80%;
    height: 90%;
    font-size: 0.7rem;
    padding-top:1cm;
    padding-bottom: 1cm;
    padding-left:2cm;
    padding-right:2cm;
    border: 2px solid #225989;
    margin: auto;
}
p{
    color: rgba(0,0,0,0.7);
    margin-top: 12pt;
    margin-bottom: 0.01em;
    margin-right: 10cm;
    margin-left: 1cm;
}